/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$maze-color: gray;
$maze-border-color: black;
$room-color: white;
$player-color: red;

#container {
	width: 1100px;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	h3 {
		text-align: center;
	}
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 20px 0;
}

.control {
	width: 12.5%;
	text-align: center;
}

#maze {
	width: 900px;
	height: 450px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	overflow-y: hidden;
	border: 5px solid $maze-border-color;
}

@mixin cell($color) {
	width: 15px;
	height: 15px;
	background-color: $color;
}

.wall {
	@include cell($maze-color);
	font-size: 5px;
}

.room, .passage {
	@include cell($room-color);
}

.player {
	@include cell($player-color);
}

.footer {
	font-size: 0.75em;
	color: gray;
	a {
		color: gray;
	}
}