/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 15, ../sass/screen.scss */
#container {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
}
/* line 19, ../sass/screen.scss */
#container h3 {
  text-align: center;
}

/* line 24, ../sass/screen.scss */
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px 0;
}

/* line 31, ../sass/screen.scss */
.control {
  width: 12.5%;
  text-align: center;
}

/* line 36, ../sass/screen.scss */
#maze {
  width: 900px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  border: 5px solid black;
}

/* line 52, ../sass/screen.scss */
.wall {
  width: 15px;
  height: 15px;
  background-color: gray;
  font-size: 5px;
}

/* line 63, ../sass/screen.scss */
.room {
  width: 15px;
  height: 15px;
  background-color: white;
}

/* line 63, ../sass/screen.scss */
.passage {
  width: 15px;
  height: 15px;
  background-color: white;
}

/* line 63, ../sass/screen.scss */
.player {
  width: 15px;
  height: 15px;
  background-color: red;
}

/* line 63, ../sass/screen.scss */
.enemy {
  width: 15px;
  height: 15px;
  background-color: black;
}

/* line 63, ../sass/screen.scss */
.health {
  width: 15px;
  height: 15px;
  background-color: green;
}

/* line 63, ../sass/screen.scss */
.stairs {
  width: 15px;
  height: 15px;
  background-color: #A020F0;
}

/* line 63, ../sass/screen.scss */
.weapon {
  width: 15px;
  height: 15px;
  background-color: orange;
}

/* line 68, ../sass/screen.scss */
.footer {
  font-size: 0.75em;
  color: gray;
}
/* line 71, ../sass/screen.scss */
.footer a {
  color: gray;
}
